body{
    font-family: 'Comfortaa', cursive;
    margin: 0px;
    background: #bbb;
}

#wrapper{
    background: #fff;
    margin: 0em auto;
    width: 60%;
}

#main-navigation{
    background: #8b0000;
    padding: 1px;
}

#main-navigation ul{
    text-align: right;
    margin: 0.5em;
    padding: 0.5em;
}

#main-navigation li{
    display: inline-block;
    padding: 0.25em;
    margin: 0.02em;
}

#main-navigation a{
    text-decoration: none;
    color: darkgoldenrod;
    font-size: 1em;
}

#main-navigation a.current{
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin: 0.5em;
}

#lead-banner img{
    width: 100%;
    height: auto;
}

#shop{
    text-align: center;
    margin: 1.5em auto;
}

#shop img.product-image{
    width: 22em;
    border: 2px solid #8b0000;
}

#shop h2.product-name{
    font-size: 1.7em;
    margin: 0em;
    color: #8b0000;
}

#shop span.price{
    display: block;
    font-size: 2em;
    color: darkgoldenrod;
}

#shop a.add-to-bag{
    display: block;
    text-decoration: none;
    color: #8b0000;
    padding: 0.3em 0px;
    border: 2px solid #8b0000;
    margin: 1px auto;
    width: 11em;
    box-shadow: 2px 2px 2px 2px #aaa;
    //transition: all .3s ease;
}

#shop a.add-to-bag:hover{
    background: #8b0000;
    color: darkgoldenrod;
    box-shadow: 2px 2px 2px 2px #fff;
}

#shop img.rating{
    margin: 0.5em;
}

#footer{
    background: ;
}

#footer h4{
    text-align: right;
    color: darkgoldenrod;
    padding: 1em;
}

#footer span{
    font-size: 1.5em;
}







